body {
    background-color: gray;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}


h1{
    color: blue;
    text-align: center;
    font-size: 55px;
}
p{
    font-family: Arial;
    font-size: 25px;
    color: darkorange;
}
h2{
    font-family: 'Franklin Gothic Medium';
    color: dodgerblue;
    text-align: inherit;
    font-size: 30px;
}
ul{
    font-size: 28px;
}
p.fontstyle{
    font-family: 'Gill Sans'
}
#colors{
    background-color: aquamarine
}
